@font-face {
    font-family: mainFont;
    src: url("../fonts/texgyreheros-regular.otf");
}

span.clear {
    clear:both;
    display: block;
}

/*.dropdown-menu > li > a {
  font-size:3.5mm;
  padding-left:3mm;
}*/

body {
	margin:0;
  padding-top: 10mm;
  font-size:3.5mm;
}

* {
    font-family: "Nimbus Sans L";
	font-family: "mainFont";
    box-sizing: border-box;
    /*text-rendering: optimizeSpeed;*/
}

.containerHeader > h3 {
	font-weight: lighter;
	font-size: 6mm;
	color:rgba(0,0,0,0.9);
	margin-bottom: 4mm;
	font-family: "mainFont";
}

.container {
	/*max-width:14cm;
	position: absolute;
	top:1cm;
  margin:auto;
  left:0;
  right:0;*/
  position:relative;
  width:100%;
  padding-top:4mm;
  padding-bottom:4mm;
}

.containerBody, .containerHeader {
	margin-top:20mm;
  max-width:14cm;
  /*position: absolute;*/
  margin:auto;
  left:0;
  right:0;
}

.btn .caret {
	margin-left:1mm;
  border-bottom:2px solid transparent;
}


textarea {
  font-family: "Liberation Sans";
  color:rgba(0,0,0,0.7);
  padding:2mm;
  border:rgba(0,0,0,0.5) 1px solid;
  border-radius: 1mm;
  resize:vertical;
  width: calc(100% - 4mm);
  position:relative;
  left:2mm;
}

.containerHeader > .panel {
  box-shadow:none;
  color:#6c6c6c;
  margin-bottom:0;
    overflow: hidden;
}

.containerHeader > .panel > .panel-body {
  padding:0;
  min-height:15mm;
}

.placeHolder {
  margin:5mm;
  min-height:1.5cm;
  position:absolute;
}
.textArea {
  position:relative;
  padding:5mm;
  outline:0px solid transparent;
  background:white;
  min-height:2.1cm;
}
.textArea:focus {
  color:#3c3c3c;
  outline:0px solid transparent;
}

.containerHeader > .panel >  {
  box-shadow:none;
  margin:2mm;
  margin-top:4mm;
  margin-bottom:4mm;
  min-height:2cm;
}

.containerHeader > .btn, .containerHeader > .dropdown {
  float:right;
  margin-top:4mm;
  margin-left:4mm;
  margin-right:0;
}

.btn-primary {
  background:rgba(151, 151, 151, 1);
  border-color:rgba(120, 120, 120, 1);
}

.btn-primary:hover, .btn-primary:focus {
  background:rgba(131, 131, 131, 1);
  border-color:rgba(120, 120, 120, 1);
}

a {
	font-family: "mainFont";
	font-weight: bold;
	color: #3F8FBA;
	text-decoration: none;
    cursor: pointer;
}

a:hover {
	color: #3F8FBA;
	text-decoration: underline;
}

a.aspect {
    color: #86ba3f;
}

.topShadow, .bottomShadow, .topShadow > div, .bottomShadow > div {
  width:100%;
  position: absolute;
  left:0;
}
.topShadow, .bottomShadow {
  height:5mm;
  overflow:hidden;
}
.topShadow, .topShadow > div {
  top:0;
}
.bottomShadow, .bottomShadow > div {
  bottom:0;
}
.topShadow > div, .bottomShadow > div {
  height:0;
  box-shadow: 0mm 0mm 2mm 2mm rgba(0, 0, 0, 0.03);
}
.foldedMenuItems > .topShadow > div, .foldedMenuItems > .bottomShadow > div {
  box-shadow: 0mm 0mm 2mm 2mm rgba(0, 0, 0, 0.2);
}
