.diasporaLogo {
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	opacity: 1;//0.6;
	transition-property: opacity;
	transition-duration: 0.6s;
}
.diasporaLogo:hover {
	opacity:1;
}
.diasporaLogo div {
	margin:auto;
	position: absolute;
	left:0; right:0; top:0; bottom:0;
}
.diasporaLogo > div {
	width: 70%; /* ~sqrt(100²/2) */
	height: 70%;
	transition-property: transform height;
	transition-duration: 0.8s;
	transform: rotate(-144deg);
}
.diasporaLogo > div > div {
	background:white;
	width:27%;
	height:27%;/*55%;*/
	bottom:45%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	top:auto;
	transition-property:height border-top-left-radius border-top-right-radius;
	transition-duration:inherit;
    overflow: hidden;
}
.diasporaLogoInner > div > div {
	background:rgb(70,70,70);
	width:calc(27% + -2.8px);
	height:calc(27% + -2.8px);/*55%;*/
	bottom:45%;
	border-bottom-left-radius:50%;
	border-bottom-right-radius:50%;
	border-top-left-radius:50%;
	border-top-right-radius:50%;
	top:auto;
	transition-property:height border-top-left-radius border-top-right-radius;
	transition-duration:inherit;
    overflow: hidden;
}