.header {
	height: 1cm;
	width: 100%;
	background:#2f2e2d;
	box-shadow: 0mm 0mm 3mm 2mm rgba(0,0,0,0.08);
	position: fixed;
	left:0;
	top:0;
	z-index: 10;
	background:url("../images/header-bg.png");
	background: rgb(70,70,70);
}

.header > div {
	width: 1cm;
	height: 1cm;
	position: absolute;
	cursor: pointer;
}

.headerItemMenu {
	right: calc(100% + -9cm);
}

.headerItemNotifications {
	left: calc(100% + -9cm);
}
