* {
    box-sizing: border-box;
}

.irisContainer {
    position: relative;
    width:4.3mm;
    height:4.3mm;
}

.irisIris, .irisContour > div > div {
    border:0.3mm solid white;
}
irisContainer .hidden {
    border:0.3mm solid transparent;
}

.irisIris, .irisContour {
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
.irisIris {
    width:50%;
    height:50%;
    border-radius: 50%;
}
.irisContour {
    width:100%;
    height:100%;
}
.irisContourTop > div {
    width:106%;
    height:106%;
    position: absolute;
    top:25%;
    left:-3%;
    border-radius: 50%;
    overflow:hidden;
}
.irisContourBottom > div {
    width:106%;
    height:106%;
    position: absolute;
    bottom:25%;
    left:-3%;
    border-radius: 50%;
    overflow:hidden;
}
.irisContour > div > div {
    width:100%;
    height:100%;
}
.irisContourTop > div > div {
    position: absolute;
    bottom:52.83%;
    left:0%;
    border-radius: 50%;
}
.irisContourBottom > div > div {
    position: absolute;
    top:52.83%;
    left:0%;
    border-radius: 50%;
}