.notContainer{
	width:100%;
	height:100%;
}
.notContainer > * {
	position: absolute;
	height: 70%; /* ~sqrt(100²/2) */
	width:70%;
	cursor:pointer;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;

	opacity: 0;
	transform: rotate(0deg) scale(1);
	transition-property:opacity, transform;
	transition-duration:1s;
	//	margin-left:70px;
}
.notContainer > *:hover {
	opacity:1;
}
.notContainer > * > * {
	position: absolute;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border-radius:50%;
	border:solid 0px transparent;
}
.notPlanet {
	opacity: 0.6;
}

.notPlanet > div {
	border:solid white 0.7mm;
	width:30%;
	height:30%;
	transition-property: background;
	transition-duration: 0.6s;
}

.notPlanet > div.alt {
    width:40%;
    height:40%;
}

.notMoon > div {
	background:white;
	width:12%;
	height:12%;
	bottom:3%;
	top:auto;
}