.profileHeader {
    position:relative;
    width:100%;
    height: 60mm;
	  box-shadow: 0mm 0mm 3mm 2mm rgba(0,0,0,0.02);
    background-color: rgba(255,255,255,0.8);
}

.profileHeader > div {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width:20cm;
    height: 100%;
    transition-property:top height;
    transition-duration:1s;
}

.profileHeader > div:last-child {
    top:100%;
}
.profileHeader.moreinfo > div {
  top:-100%;
}
.profileHeader.moreinfo > div:last-child {
  top:0;
}

.profileHeader > div:last-child > p {
    text-align:center;
    color:rgba(0,0,0,0.3);
    font-size:15mm;
    font-family:"mainFont";
    margin-top:18mm;
}

.profileHeaderName, .profileHeaderSummary {
    position: absolute;
    height: 66%;
    left: 50mm;
    width: calc(100% + -50mm);
    margin-top:5mm;
}

.profileHeaderName {
    top: 0;
}

.profileHeaderName > .dropdown {
    float:right;
    margin-top:20px;
    left:auto;
}

.profileHeaderName > div {
    color: rgba(0,0,0,0.3);
    left:4mm;

}

.profileHeaderSummary {
    bottom: 0;
    /*font-size: 4mm;*/
}

.profileHeaderSummary > div {
    position: absolute;
    top: calc(100% + -10mm);
    right: 0;
    z-index:1;
    transition: top 1s;
}

.profileHeader.moreinfo .profileHeaderSummary > div {
  top:calc(100% + 7mm);
  bottom:auto;
}

.profileHeaderSummary > div > a > span {
    margin-left:1mm;
    display:inline-block;
    transform:rotate(90deg);
    position:relative;
    top:0mm;
    transform-origin:center;
    transition:transform 1s;
}
.profileHeader.moreinfo .profileHeaderSummary > div > a > span {
    transform:rotate(90deg) scaleX(-1);
}

.profileHeader .profile {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.profileHeaderSquare {
    position: absolute;
    width: 40mm;
    left: 0;
    height: 100%;
}

.profileHeader > div > .profileHeaderSquare:last-child {
    left: auto;
    right: 0;
    }
.profileHeaderSquare > .dropdown  {
    position: absolute;
    right: 15mm;
    margin-left: auto;
    margin-right: auto;
    top: 12mm;
}

.topDropDown {
  display:none;
}

.containerBody > .dropdown {
  float:right;
  margin-left:4mm;
}
