.streamPost {
	border-top:rgba(0,0,0,0.2) solid 1px;
	width:100%;
	clear:both;
	padding:3mm;
}

.streamPost > * {
	//margin: 3mm;
}

.streamPost > div {
	width:calc(100% + -13mm + -3mm);
	float:right;
	margin-left:0;
}

.streamPostAuthor {
	//font-size:4mm;
}

.streamPostDetails {
	color:#919191;
	font-size: 3.3mm;
	line-height: 6mm;
	position:relative;
	bottom:1mm;
    top:0.1mm;
	display:inline;
}

.streamCommentDetails {
	color:rgba(0, 0, 0, 0.2);
	font-size: 3.3mm;
	line-height: 6mm;
	position:relative;
	bottom:6mm;
	display:inline;
    float:right;
}

.streamPostContent {
	font-size: 3.5mm;
	padding-bottom:3mm;
}

.streamPostComment {
	font-size: 3.5mm;
	padding-bottom:1mm;
    border-top:1px solid rgba(0,0,0,0.1);
    padding-top: 2mm;
}

.streamPostComment > .profile {
    float:left;
    margin: 2.8mm;
    margin-top:0.8mm;
    margin-left:0;
}

.streamPostActions {
	position:relative;
	//bottom:1.5mm;
	opacity:0.2;
	transition: opacity 0.4s;
	//width:25mm;
}
.streamPostActions:hover {
	opacity:1;
}

.streamPostActions > div {
	float:right;
	width:8mm;
	height:8mm;
	margin-right:0;
	position: relative;
	opacity:0.3;
	transition:opacity 0.4s;
	cursor: pointer;
}

.streamPostActions > div:hover {
	opacity: 0.6;
}

.streamPostActions > div > img {
	width:70%;
	height:70%;
	position: absolute;
	margin:auto;
	right: 0;
	top:0;
	bottom: 0;
	left: 0;
}

.streamPostActions > div > span {
	position: absolute;
	margin:auto;
	left:0;
	right:0;
	top:auto;
	bottom:-4mm;
	font-size: 3.3mm;
	font-weight: bolder;
	text-align: center;
}
.streamPostActions > div > div {
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	background:yellow;
}
