body, .container {
    background: rgba(0,0,0,0.03);
    background: rgba(66, 66, 0, 0.03);
    background: #F9F9F7;
}

.streamPostHeader, .streamPostContent, .streamPostComment {
    padding:8mm;
}

.streamPost {
	//border-top:rgba(0,0,0,0.2) solid 1px;
	width:100%;
	clear:both;
  background:rgba(255,255,255,0.8);
  margin-top:6mm;
  margin-bottom:6mm;
  position: relative;
  /*box-shadow: 0mm 0mm 3mm 3mm rgba(0,0,0,0.01);*/
}

.streamPost > * {
	//margin: 3mm;
}

.streamPostHeader {
    position: relative;
    padding-top:4mm;
    padding-bottom:4mm;
}

.streamPostHeader > div {
    position: relative;
}

.streamPostHeader > .profile {
    float: right;
}

.streamPostHeader .streamPostAuthor > a {
	font-size:3.7mm;
}

.streamPostDetails {
	color:#919191;
	font-size: 3.3mm;
	line-height: 6mm;
	position:relative;
	/*bottom:1mm;*/
    vertical-align: middle;
	display:inline;
}

.streamPostContent {
	font-size: 3.5mm;
    padding-top:6mm; /*Fix for font*/
    padding-bottom:6mm; /*Fix for font*/
}

.streamPostContent > p {
	position: relative;
    //top:-1.7mm;
}
.streamPostContent > p:last-child {
	margin-bottom:0;
}

.streamPost > .streamPostDivider {
    height:1px;
    width:100%;
    background: rgba(0,0,0,0.05);
}

.streamPost > .streamPostActions {
    position: relative;
    height:17mm;
}

.streamPost > .streamPostActions > div {
	position:absolute;
	bottom:7mm;
    left:0;
    right:0;
    margin:auto;
	opacity:0.9;
	transition: opacity 0.4s;
	width:24mm;
}
.streamPost > .streamPostActions.twoActions > div {
	width:16mm;
}
.streamPostActions > div:hover {
	opacity:0.8;
}

.streamPostActions > div > div {
	float:right;
	width:8mm;
	height:8mm;
	margin-right:0;
	position: relative;
	opacity:0.4;
	transition:opacity 0.4s;
	cursor: pointer;
}

.streamPostActions > div > div.active {
	opacity: 0.8;
}

.streamPostActions > div > div:hover {
	opacity: 1;
}

.streamPostActions > div > div > img {
	width:70%;
	height:70%;
	position: absolute;
	margin:auto;
	right: 0;
	top:0;
	bottom: 0;
	left: 0;
}

.streamPostActions > div > div > span {
	position: absolute;
	margin:auto;
	left:0;
	right:0;
	top:auto;
	bottom:-4mm;
	font-size: 3.3mm;
	font-weight: bolder;
	text-align: center;
    opacity: 0.5;
}
.streamPostComment {
    padding-top:6mm;
    padding-bottom:6mm;
    border-left:solid 2mm rgba(0,0,0,0.05);
}

.streamPostComment > div {
    display: inline-block;
    width:calc(100% + -9mm + -4mm);
}
.streamPostCommentContent {
    font-size: 3.5mm;
}
.streamPostComment > .profile {
    margin-right:4mm;
    float:left;
}
.streamPostComment > div > .streamPostDetails {
    float:right;
    opacity: 0.7;
}
.streamPostCommentContent > p:last-child {
    margin-bottom: 0;
}
