.rotated-90 {
    transform: scaleY(-1);
}

.topDropDown {
	background:rgb(30,30,30);
	background:rgb(70,70,70);
	position: absolute;
	top:140%;
	width: 7cm;
	padding-top:15mm;
	padding-bottom:5mm;
	color: rgba(255,255,255,0.9);
	box-shadow: 0mm 0mm 3mm 2mm rgba(0,0,0,0.08);
	cursor:auto;
	opacity:0;
	transition:opacity 0.6s cubic-bezier(.49, -0.01, .25, 1);
}

.topDropDownLeft {
	right:-140%;
}
.topDropDownLeft > .topDropDownCaret {
	right:1.5cm;
    left:auto;
}

.topDropDownRight {
	left:-140%;
    padding-bottom: 0;
    width:8cm;
}
.topDropDownRight > .topDropDownCaret {
	left:1.5cm;
    right:auto;
}

.topDropDownCaret {
	position: absolute;
	margin-right:auto;
	margin-left:auto;
	left:0;
	right:0;
	top:calc(-4mm + 1px);
	width:0;
	height:0;
	border:4mm solid transparent;
	border-bottom-color:rgb(30,30,30);
	border-bottom-color:rgb(70,70,70);
	border-top:none;
}

.topDropDown > img {
	position: absolute;
	text-align: center;
	left:0;
	right:0;
	top:0;
	margin-right:auto;
	margin-left:auto;
	margin-top:5mm;
	height:6.7mm;
	opacity: 0.9;
}

.topDropDown > span.badge {
    position: absolute;
    right:5mm;
    top:5.4mm;
    background: #ffb100;
    background: rgba(255,255,255,0.2);
    color:rgb(70,70,70);

    background: transparent;
    border:0.6mm solid #ffb100;
    color:#ffb100;

    background: transparent;
    border:0.6mm solid rgba(255,255,255,0.4);
    color:rgba(255,255,255,0.4);
}

.foldedMenuItems {
	background: rgba(0,0,0,0.5);
	position: relative;
	overflow-x: hidden; /*Caret is above*/
	transition-property: height;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(.49, -0.01, .25, 1);
	height: 0px;
}

.menuItem, .notificationItem {
    position: relative;
	padding:5mm;
	transition: background 0s;
	cursor:pointer;
}
.menuItem {
	padding-left:10mm;
	font-size:4mm;
	text-transform: uppercase;
	letter-spacing: 0.5mm;
	line-height:0;
	font-weight: lighter;
}

.selectedMenuItem {
    border-left:2mm solid #ffb100;
    padding-left:8mm; /* 10mm + -2mm border */
    background: rgba(255,255,255,0.03);
}

.topDropDown > .notificationSeparator {
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

.notificationItem {
    font-size:3.2mm;
	font-weight: lighter;
    padding:4mm;
    cursor:inherit;
    /*padding-left:3mm;
    border-left:2mm solid transparent;*/
    //background: rgba(0,0,0,0.1);
}

.notificationItem > .profile {
    position: absolute;
    left:4mm;
    top:4mm;
}

.notificationContent {
    margin-right:11mm;
    margin-left:11mm;
}

.notificationUnread {
    border-left: solid 2mm #ffb100;
    background:rgba(255,255,255,0.05);
    cursor: pointer;
}

.menuItem:hover, .notificationUnread:hover, .notificationsFooter > div:hover {
	background:rgba(255, 255, 255, 0.1);
}
.notificationItem > .notificationDetails {
	font-weight: lighter;
    opacity: 0.7;
    //border-top: dashed 1px rgba(255,255,255,0.2);
    font-size: 3mm;
    //text-align: right;
    margin-top:2mm;
    margin-left:11mm;
}

.notificationReadUnread {
    z-index: 1;
    display: inline-block;
    float:right;
    height:100%;
    opacity:0.3;
    transition:opacity 0.6s;
    cursor: pointer;
}

.notificationReadUnread:hover {
    opacity:0.9;
}

.notificationReadUnread > div {
    margin-top:auto;
    margin-bottom:auto;
    position:absolute;
    top:0;
    bottom:0;
    right:4mm;
}

.notificationsFooter {
    position: relative;
    bottom:0;
    width: 100%;
    font-size: 3mm;
}

.notificationFooterBtn {
    width:calc(50% + -1px);
    display: inline-block;
    text-align: center;
    padding:2mm;
    cursor: pointer;
}

.notificationsFooter > .notificationFooterBtn:last-child {
    /* Gives space to the separator. */
    position: relative;
    left:1px;
}

.notificationsFooter > .notificationSeparator {
    display: inline-block;
    position: absolute;
    width:1px;
    height:100%;
    border-right:solid 1px rgba(255,255,255,0.1);
}

.foldedMenuItems > .menuItem {
	//padding-left:15mm;
	font-size: 3.7mm;
	//text-transform: inherit;
}

.menuItem > img {
	width:5.7mm;
	position: relative;
	margin-right:3mm;
	opacity: 0.9;
}

.topDropDown > .menuItem > .foldedMenuCaret {
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:5mm;
    left:auto;
    display:inline-block;
    border: 1.4mm solid transparent;
    border-top-color: white;
    border-bottom-width: 0;
    max-width:0;
    max-height:0;
    opacity: 0.6;
    float:right;
    transition: transform 0.3s;
}

.menuItem > .currentItemCaret {
    position: absolute;
    margin:auto;
    top:0;
    bottom:0;
    right:auto;
    left:4mm;
    display:block;
    border: 1.4mm solid transparent;
    border-left-color: white;
    max-width:0;
    max-height:0;
    opacity: 0.9;
}

.topDropDown > .menuItem > span {
	position: relative;
	top:.3mm;
}
